.switch-old-phone {
    margin-bottom: 70px;
    background-color: #fff;
}

.sop-banner {
    box-sizing: border-box;
    padding: 70px 0;
    background-color: var(--main-blue);
    text-align: center;
    position: relative;
    min-height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-callToAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
}

.sop-banner::before {
    content: '';
    position: absolute;
    width: calc(100% + 100px);
    height: 100%;
    background-color: var(--main-blue);;
    left: -50px;
    top: 0;
    z-index: 1;
}

.sop-banner h2 {
    position: relative;
    z-index: 2;
}

.sop-banner img {
    position: absolute;
    left: -50px;
    top: -15px;
    z-index: 1;
}

.sop-content {
    background-color: var(--main-light-gray);
    position: relative;
}

.sop-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--main-light-gray);
    z-index: -1;
    transform: skew(0deg, 2deg);
}

.sop-content ul.row:nth-of-type(even) {
    position: relative;
    left: -100px
}

.sop-content ul.row:nth-of-type(odd) {
    position: relative;
    right: -100px
}

.sop-content::before {
    content: '';
    width: 100%;
    height: 172px;
    background-color: var(--main-light-gray);
    position: absolute;
    top: -172px;
    z-index: 0;
}

.glob-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.glob-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
    margin-top: 44px;
    white-space: nowrap;
}

.glob-list li > span.glob {
    display: block;
    min-width: 48px;
    min-height: 48px;
    border-radius: 15px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glob-list li:nth-of-type(2n+1) > span.glob{
    background-color: #9e6dad;
}
.glob-list li:nth-of-type(3n+1) > span.glob{
    background-color: var(--main-light-orange);
}

.glob-list li:nth-of-type(4n+1) > span.glob{
    background-color: var(--main-dark-green);
}

.glob-list li:nth-of-type(5n+1) > span.glob{
    background-color: var(--main-pink);
}

.glob-list li:nth-of-type(7n+1) > span.glob{
    background-color: var(--main-dark-blue);
}

.sop-btnAction {
    position: absolute;
    left: calc(50% - 119px);
    bottom: -90px;
}

/*BreakPoints*/
@media (min-width: 0) {

    .sop-content {
        min-height: 530px;
    }

    .sop-banner img {
        height: 205px;
    }

    .sop-banner {
        justify-content: flex-end;
        height: auto;
        min-height: auto;
    }

    .switch-callToAction {
        display: none;
    }

    .sop-mobile-action {
        width: calc(100% - 20%);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
        display: block;
    }

    .sop-btnAction .btn-standard {
        display: none;
    }

    .sop-btnAction .btn-secondary {
        display: block;
    }

}

@media (min-width: 568px) {



}

@media (min-width: 768px) {

    .sop-content {
        min-height: 500px;
    }

    .sop-banner img {
        height: auto;
    }

    .sop-banner {
        min-height: 375px;
    }

    .sop-mobile-action {
        display: none;
    }

    .switch-callToAction {
        display: flex;
    }

    .sop-btnAction .btn-standard {
        display: block;
    }

    .sop-btnAction .btn-secondary {
        display: none;
    }

}

@media (min-width: 992px) {

}

@media (min-width: 1366px) {
    .sop-banner {
        justify-content: center;
    }
}