.service-available {
    margin-top: 150px;
}

.service-available .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-available .container > div:nth-of-type(1) {
    max-width: calc(100% - 606px);
}

.service-available .container > div:nth-of-type(2) {
    max-width: 606px;
    padding-top: 50px;
}

.service-content {
    text-align: right;
}

.service-content h2 {
    margin-bottom: 50px;
}

.service-content p {
    margin-bottom: 40px;
}

/*BreakPoints*/
@media (min-width: 0) {

    .service-available .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .service-available .container > div:nth-of-type(1),
    .service-available .container > div:nth-of-type(1) img{
        max-width: 100%;
    }

    .service-content {
        text-align: center;
    }

}

@media (min-width: 568px) {



}

@media (min-width: 768px) {

}

@media (min-width: 992px) {



}

@media (min-width: 1366px) {
    .service-available .container {
        flex-direction: row;
        align-items: center;
    }

    .service-available .container > div:nth-of-type(1){
        max-width: calc(100% - 606px);
    }

    .service-content {
        text-align: center;
    }
}