.header-top-strap {
    background: rgb(132,73,154);
    background: linear-gradient(110deg, #a677b3 0%, rgba(199,68,148,1) 50%, rgba(244,155,146,1) 100%);
    min-height: 110px;
}

.header-top-strap > .container {
    min-height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-top-strap .logo img {
    width: 100%;
    max-width: 255px;
}

.navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation > ul > li {
}

.navigation > ul > li:last-child {
    margin-right: 0;
}

.navigation > ul > li > a {
    text-transform: uppercase;
    color: var(--main-deep-dark-blue);
    font-size: 17px;
    font-weight: 600;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 5px 0;
}

.navigation > ul > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-deep-dark-blue);
    bottom: 0;
    left: -100%;
    transition: 0.3s ease;
}

.navigation > ul > li > a:hover::before {
    left: 0;
}

.header-sub-strap {
    background: rgb(132,73,154);
    background: linear-gradient(110deg, #9e6dad 0%, rgba(199,68,148,1) 50%, rgba(244,155,146,1) 100%);
    min-height: 50px;
    padding-right: 130px;
}

.header-sub-strap > .container {
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-content {
    background: rgb(132,73,154);
    background: linear-gradient(103deg, rgba(132,73,154,1) 0%, rgba(199,68,148,1) 50%, rgba(244,155,146,1) 100%);
}

.hero-content > .container {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}

.hero-content > .container .slider-arrow {
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
}

.hero-content > .container .slider-arrow img {
    transform: scale(2);
    opacity: 0.4;
}

.hero-content > .container .slider-arrow.slider-arrow-left {
    left: -25px;
    transform: rotate(90deg);
}

.hero-content > .container .slider-arrow.slider-arrow-right {
    right: -25px;
    transform: rotate(-90deg);
}

.hero-content > .container::after {
    content: '';
    width: 434px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../../images/woman.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}


.hero-text {
    max-width: 815px;
}

.hero-callToAction {
    margin-top: 70px;
}

/*BreakPoints*/
@media (min-width: 0) {

    .header-top-strap {
        justify-content: space-between;
    }

    .navigation {
        border: 1px solid #eee;
        box-sizing: border-box;
        padding: 25% 0;
        position: absolute;
        background: linear-gradient(110deg, #9e6dad 0%, rgba(199,68,148,1) 50%, rgba(244,155,146,1) 100%);
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        top: 110px;
        z-index: 99;
        display: none;
    }

    .navigation ul {
        width: 100%;
        flex-direction: column;
    }

    .navigation ul > li > a {
        display: inline-block;
        padding: 25px 5%;
    }

    .hero-content > .container::after {
        z-index: -99;
    }

    .hero-content .hero-text {
        text-align: center;
    }

    .header-btn-action {
        display: none;
    }

    .header-sub-strap {
        padding: 0;
    }

    .header-sub-strap > .container {
        justify-content: center;
        align-items: center;
    }

    .hero-content > .container .slider-arrow {
        display: none;
    }

}

@media (min-width: 568px) {



}

@media (min-width: 768px) {

    .header-sub-strap {
        padding-right: 130px;
    }

    .header-sub-strap > .container {
        justify-content: flex-end;
        align-items: center;
    }

    .hero-content > .container .slider-arrow {
        display: block;
    }

}

@media (min-width: 992px) {



}

@media (min-width: 1366px) {

    .hero-content > .container::after {
        z-index: 1;
    }

    .hero-content .hero-text {
        text-align: left;
    }

    .navigation {
        position: static;
        background: transparent;
        display: flex;
        border: 0;
        width: 100%;
        max-width: 481px;
        padding: 0;

    }

    .navigation ul {
        flex-direction: row;
    }

    .header-btn-action {
        display: flex;
    }

}