.glob-strap {
    box-sizing: border-box;
    padding: 42px 0;
    height: 120px;
    background-image: url("../../../images/bg.png");
    background-size: contain;
    background-repeat: repeat;
}

/*BreakPoints*/
@media (min-width: 0) {

    .glob-strap {
        display: none;
    }

}

@media (min-width: 568px) {



}

@media (min-width: 768px) {
    .glob-strap {
        display: block;
    }

}

@media (min-width: 992px) {

}

@media (min-width: 1366px) {

}