footer > .footer {
    background-color: var(--main-black);
    padding: 40px 0;
}

footer > .footer > .container {
    display: flex;
    justify-content: space-between;
}

footer > .footer .footer-navigation {
    width: 100%;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer > .footer .footer-navigation > ul {
    display: flex;
    justify-content: space-between;
}

footer > .footer .footer-navigation > ul > li > a {
    text-transform: uppercase;
    color: var(--main-white);
    font-size: 20px;
    font-weight: 600;
}

footer > .footer .footer-copyright {
    position: relative;
    left: -30px;
    width: 100%;
    max-width: 635px;
    display: flex;
    justify-content: space-between;
}

footer > .footer .footer-copyright > span {
    color: var(--main-white);
}

/*BreakPoints*/
@media (min-width: 0) {

    footer > .footer > .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer > .footer .footer-copyright {
        left: 0;
    }

    .footer-navigation ul {
        margin: 50px 0;
    }

    .footer-copyright {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-copyright span:nth-of-type(2) {
        margin-bottom: 30px;
    }

}

@media (min-width: 568px) {



}

@media (min-width: 768px) {



}

@media (min-width: 992px) {

    footer > .footer > .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-navigation ul {
        margin: 50px 0;
    }

    .footer-copyright {
        flex-direction: row;
        left: -30px;
    }

    .footer-copyright span {
        margin-bottom: 0 !important;
    }

}

@media (min-width: 1366px) {

}