/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*root variable*/
:root {
    --main-pink: #bc3595;
    --main-deep-dark-blue: #232649;
    --main-blue: #008adB;
    --main-dark-blue: #003083;
    --main-dark-green: #0a473d;
    --main-light-orange: #ff8a65;
    --main-light-blue: #2196f3;
    --main-lemon: #cef7dc;
    --main-light-gray: #d6f0ff;
    --main-white: #f2f2f2;
    --main-black: #000000;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

/* container */
.container-full,
.container{
    margin-left: auto;
    margin-right: auto;
}

/* headings */

h1 {
    font-size: 75px;
    font-weight: 700;
    color: var(--main-white);
}

h2 {
    font-size: 64px;
    font-weight: 800;
}

h3 {
    font-size: 48px;
    font-weight: 800;
}

h4 {
    font-size: 24px;
    font-weight: 800;
    color: var(--main-deep-dark-blue);
}

.text-title {
    font-size: 32px;
}

.text-standard {
    font-size: 24px;
    line-height: 30px;
    color: var(--main-deep-dark-blue);
}

.text-small {
    font-size: 18px;
}

.text-center {
    text-align: center;
}

/*list items ul*/
ul.list li {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
    display: flex;
    align-items: center;
}

ul.list li::before {
    content: '';
    width: 23px;
    height: 23px;
    background-image: url("../../images/listItem.png");
    background-size: cover;
    position: absolute;
    left: -40px
}

/* buttons */

.btn {
    border-radius: 8px;
    color: var(--main-white);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-standard {
    padding: 17px 50px;
    font-size: 20px;
    font-weight: 600;
}

.btn-bigger {
    padding: 22px 50px;
    font-size: 25px;
    background-color: var(--main-black);
}

.btn-secondary {
    padding: 22px 50px;
    font-size: 25px;
    background-color: transparent;
    color: var(--main-deep-dark-blue);
}

/*Text colors*/

.text-white {
    color: var(--main-white) !important;
}

.text-blue {
    color: var(--main-blue) !important;
}

.text-pink {
    color: var(--main-pink) !important;
}

/*bg colors*/
.bg-pink {
    background-color: var(--main-pink) !important;
}

.bg-light-orange {
    background-color: var(--main-light-orange) !important;
    color: var(--main-black);
}

.bg-blue {
    background: var(--main-blue) !important;
}


/*grid-items grid-row-3*/
.grid-items {
    display: grid;
    gap: 30px;
}

.grid-row-3 {
    grid-template-columns: repeat(3, 1fr);
}

.item img {
    margin-bottom: 25px;
}

.item > .item-heading {
    margin-bottom: 36px;
}

/*BreakPoints*/
@media (min-width: 0) {

    .container-full {
        max-width: 100%;
    }

    .container {
        max-width: 100%;
        padding-right: 5%;
        padding-left: 5%;
    }


}

@media (min-width: 568px) {

    .container-full {
        max-width: 100%;
    }

    .container {
        max-width: 100%;
    }

}


@media (min-width: 768px) {

    .container-full {
        max-width: 738px;
    }

    .container {
        max-width: 664px;
    }

}

@media (min-width: 992px) {
    .container-full {
        max-width: 962px;
    }

    .container {
        max-width: 858px;
    }

}

@media (min-width: 1366px) {

    .container-full {
        max-width: 1336px;
    }

    .container {
        max-width: 1140px;
    }

}